
<!-- <p>signup works!</p> -->
<app-navbar></app-navbar>
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                <div class="container text-center " style="margin-top: 20px;">
                    <img src="../../../assets/logo.png" alt="">
                </div>
                <h1 class="text-center">Login here !! </h1>
                <!-- {{loginData | json }} -->
                <form (ngSubmit)="formSubmit()">
                    <!--user name -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input
                        [(ngModel)]="loginData.username"
                       
                         required  name="username" matInput placeholder="Placeholder">
                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                        <!-- <mat-hint>Username must be unique !!</mat-hint> -->
                    </mat-form-field>
                    <!--passowrd  name -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Password</mat-label>
                        <input required
                          [(ngModel)]="loginData.password"
                         name="password" matInput placeholder="Placeholder">
                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                        <!-- <mat-hint>Hint</mat-hint> -->
                    </mat-form-field>
                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Login</button>
                        <button style="margin-left: 20px;" mat-raised-button color="accent">Reset</button>
                    </div>
                </form>
                </mat-card>
            </div>
        </div>
        </div>
</div>
